{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row offset1 span7">
            <form class="form-horizontal" action="#" id="searchFrm">
                <fieldset>
                    <legend>Rechercher une facture <i class="icon-chevron-down" id="showHide" title="Afficher/Masquer le formulaire de recherche"></i> </legend>
                    <div id="frm">
                        <div class="control-group">
                            <label class="control-label" for="billId">Numéro: </label>
                            <div class="controls">
                                <input type="number" id="billId" class="span4">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="customer">Client: </label>
                            <div class="controls">
                                <input type="text" id="customer" class="span4">
                                <input type="hidden" id="customerId" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="dateFrom">Date (à partir du): </label>
                            <div class="controls">
                                <input type="text" id="dateFrom" class="span4">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="dateTo">Date (jusqu'au): </label>
                            <div class="controls">
                                <input type="text" id="dateTo" class="span4">
                            </div>
                        </div>
                        <div class="form-actions">
                            <a class="btn btn-danger span2" id="reset"><i class="icon-remove icon-white"></i> Réinitialiser</a>
                            <a class="btn btn-success span2" id="search"><i class="icon-search icon-white"></i> Chercher</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="span1"><a class="head" href="#" data-sort="id" data-sortorder="ASC">N°</a></th>
                        <th class="span1"><a class="head" href="#" data-sort="date" data-sortorder="DESC">Date</a></th>
                        <th class="span3"><a class="head" href="#" data-sort="customer" data-sortorder="ASC">Client</a></th>
                        <th class="span3"><a class="head" href="#" data-sort="car" data-sortorder="ASC">Véhicule</a></th>
                        <th class="span2"><a class="head" href="#" data-sort="reg_plate" data-sortorder="ASC">Immatriculation</a></th>
                        <th class="span2"><a class="head" href="#" data-sort="total_amount" data-sortorder="ASC">Montant total</a></th>
                    </tr>
                </thead>
                <tbody id="searchResults">
                    <tr>
                        <td colspan="6">Aucun résultats</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- modals -->
    <div id="modalMsg" class="modal hide">
        <div class="modal-header"><h3>Recherche en cours...</h3></div>
        <div class="modal-body">
            <div id="modal-content-init"><div class="progress progress-info progress-striped active"><div class="bar" style="width: 100%">Veuillez patienter</div></div></div>
            <div id="modal-content-ok"><div class="alert alert-success">...</div></div>
            <div id="modal-content-ko"><div class="alert alert-error">errors</div></div>
        </div>
        <div class="modal-footer">
            <a class="btn" id="btn-close" data-dismiss="modal" aria-hidden="true">Fermer</a>
        </div>
    </div>

    <div id="bill" class="hide">
        <iframe id="ifBill" style="width: 98%; height: 95%" src=""></iframe>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var results;

            initModal();
            $('#modalMsg').modal({ keyboard: false, backdrop: 'static', show: false });
            $('#modalMsg').on('hidden', function() { initModal(); });
            $('#bill').dialog({
                height: 600,
                width: 900,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Imprimer": function() {
                        window.frames['ifBill'].focus();
                        window.frames['ifBill'].print();
                    },
                    "Fermer" : function() {
                        $( this ).dialog( "close" );
                    }
                }
            });

            $('#billId').numeric({ negative: false });
            $('#dateFrom').datepicker({ changeMonth: true, changeYear: true, regional: "fr", showButtonPanel: true });
            $('#dateTo').datepicker({ changeMonth: true, changeYear: true, regional: "fr", showButtonPanel: true });
            $('#reset').on('click', function(e) { document.forms[0].reset(); cleanResults(true); $('#customerId').val(''); results = null; });
            $('#showHide').on('click', function(e) { $('#frm').slideToggle(); $(this).toggleClass('icon-chevron-down icon-chevron-right'); });
            $('#search').on('click', function(e) {
                $('#modalMsg').modal('show');
                $.ajax({
                    url: "{{ path('ajax_bill_search') }}",
                    dataType: "json",
                    method: "POST",
                    data: {
                        billId  : $('#billId').val(),
                        customerId : $('#customerId').val(),
                        dateFrom : parseDate($('#dateFrom').val(), true),
                        dateTo : parseDate($('#dateTo').val(),true),
                        limit: 50,
                        offset: 0
                    },
                    success: function(data) {
                        results = new Array();
                        for(i = 0; i < data.results.length; i++) {
                            results[i] = { id: data.results[i].id,
                                           date: data.results[i].date.substring(0,10),
                                           customer: (data.results[i].customer.firstname+' '+data.results[i].customer.lastname).trim(),
                                           car: data.results[i].car.brand,
                                           reg_plate: data.results[i].car.reg_plate,
                                           total_amount: data.results[i].total_amount
                            };
                        }
                        showResponse();
                        successModal(false,0);
                    },
                    error: function(data) {
                        errorModal(data.responseText);
                    }
                });
            });
            $('.head').on('click', function(e) {
                e.preventDefault();
                results = sortHashTable(results, $(this).attr('data-sort'),$(this).attr('data-sortorder'));
                $(this).attr('data-sortorder', $(this).attr('data-sortorder') == 'ASC' ? 'DESC' : 'ASC');
                showResponse();
            })

            $('#customer').autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "{{ path('ajax_customer') }}",
                        dataType: "json",
                        data: {
                            field: "lastname",
                            search: $('#customer').val()
                        },
                        success: function( data ) {
                            response( $.map( data.customers, function( item ) {
                                return {
                                    value: item.lastname + " " + item.firstname,
                                    id: item.id
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function(event, ui) { $('#customerId').val(ui.item.id); }
            });

            $(document).on('click','a.pageBtn',function(e){
                e.preventDefault();
                toPage = parseInt($(this).attr('data-page'));
                offset = (toPage-1)*10;
                if((toPage > 0) && (toPage < 6)){
                    showResponse(offset);
                    $('.prevPage').attr('data-page',toPage-1);
                    $('.nextPage').attr('data-page',toPage+1);
                }
            });
            $(document).on('click','tr.result',function(e){
                e.preventDefault();
                billId = $(this).attr('data-billid');
                $('#modalMsg').modal('show');
                $.ajax({
                    type: 'POST',
                    url: '{{ path('ajax_bill_pdf') }}',
                    dataType: "json",
                    cache: false,
                    data: {
                        id: billId
                    },
                    success: function(data) {

                        successModal(false,0);
                        $('#ifBill').attr('src',data.billPdf);
                        $('#bill').dialog({ title: 'Facture n°' + billId }).dialog("open");
                    }
                });
            });


            function showResponse(offset, limit) {
                offset = typeof offset !== 'undefined' ? offset : 0;
                limit = typeof limit !== 'undefined' ? limit : 10;
                nbResults = results.length;

                if(nbResults > 0) {
                    cleanResults(false);
                    loopUntil = offset + limit;
                    if(loopUntil > nbResults) { loopUntil = nbResults; }
                    for(i = offset; i < loopUntil; i++) {
                        line  = '<tr class="result" data-billid="'+results[i].id+'"><td>'+results[i].id+'</td>';
                        line += '<td>'+parseDate(results[i].date)+'</td>';
                        line += '<td>'+results[i].customer+'</td>';
                        line += '<td>'+results[i].car+'</td>';
                        line += '<td>'+results[i].reg_plate+'</td>';
                        line += '<td>'+results[i].total_amount.toFixed(2)+'€</td>';
                        $('#searchResults').append(line);
                    }
                    if(nbResults > limit) { $('#searchResults').append(getPagination(offset,limit)); }
                } else {
                    cleanResults(true);
                    $('#searchResults > tr > td').effect('highlight',{ duration: 2000, color: '#ff9999' });
                }
            }

            function getPagination(offset, limit) {
                nbResults = results.length;
                currentPage = offset/limit + 1;
                nbPages = Math.ceil(nbResults/limit);

                pager  = '<tr><td colspan="6"><div class="pagination pagination-centered"><ul><li class="';
                if(currentPage == 1) { pager += 'disabled'; }
                pager += '"><a class="pageBtn prevPage" data-page="1" href="#">&laquo;</a></li>';

                for(i = 1; i <= nbPages; i++) {
                    pager += '<li class="';
                    if(i == currentPage) { pager += 'active'; }
                    pager += '"><a class="pageBtn" data-page="'+i+'" href="#">' + i + '</a></li>';
                }

                pager += '<li class="';
                if(currentPage == nbPages) { pager += 'disabled'; }
                pager += '"><a class="pageBtn nextPage" data-page="2" href="#">&raquo;</a></li></ul></div></td></tr>';
                return pager;
            }

            function parseDate(date,toDb) {
                toDb = typeof toDb !== 'undefined' ? toDb : false;
                if(date != "") {
                    if(toDb === false) {
                        return date.substring(8,10) + "/" + date.substring(5,7) + "/" + date.substring(0,4);
                    } else {
                        return date.substring(6,10) + "-" + date.substring(3,5) + "-" + date.substring(0,2);
                    }
                } else {
                    return null;
                }
            }

            function cleanResults(showMessage) {
                showMessage = typeof showMessage !== 'undefined' ? showMessage : false;
                $('#searchResults').children('tr').remove();
                if(showMessage === true) {
                    $('#searchResults').append('<tr><td colspan="6">Aucun résultats</td></tr>');
                }
            }
        });

    </script>
{% endblock %}